.sub-nav {
	width: auto;
	display: flex;
	padding: 10px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	margin: 15px 50px;
	.title-sub-nav {
		font-size: 15px;
		text-align: left;
		margin: 0%;
		display: flex;
		justify-content: left;
		align-items: center;
		cursor: pointer;

		&:hover {
			color: #fff;
			.slash-nav {
				color: #000000;
			}
		}

		.slash-nav {
			font-size: 20px;
			display: inline-block;
			margin: 0 20px;
			cursor: none;
		}

		&:last-child {
			.slash-nav {
				display: none;
			}
		}
	}
}