<div class="sub-nav">
  <h5 class="title-sub-nav">Videos <span class="slash-nav">/</span></h5>
  <h5 class="title-sub-nav">People <span class="slash-nav">/</span></h5>
  <h5 class="title-sub-nav">Documents <span class="slash-nav">/</span></h5>
  <h5 class="title-sub-nav">Events <span class="slash-nav">/</span></h5>
  <h5 class="title-sub-nav">Communities <span class="slash-nav">/</span></h5>
  <h5 class="title-sub-nav">Favorities <span class="slash-nav">/</span></h5>
  <h5 class="title-sub-nav">Channels <span class="slash-nav">/</span></h5>
  
</div>
