.section-channels {
	margin-left: 7px;
	.title-channels {
		width: 50%;
		.title {
			font-size: 30px;
		}
	}
	.check-channels {
		width: 50%;
		align-self: flex-end;
		margin: 0 0 10px 0;
		span {
			font-size: 15px;
			margin: 0%;
		}
	}
	.list-channels {
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		margin: 0%;
		padding: 6px;
		display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
		> .list {
			margin: 0%;
            width: 100%;
            &.active {
				border: 1px solid #fff;
			}
            .image-list {
                width: 100%;
                height: 120px;
				background-color: #cccccc;
				background-clip: content-box;
				padding: 10px;
            }
		}
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
}