<div class="section-channels">
    <div class="row">
        <div class="title-channels">
            <h5 class="title">Channels</h5>
        </div>
        <div class="check-channels">
            <span>Browse all channels</span>
        </div>
    </div>
    <div class="list-channels">
      <div *ngFor="let a of datalist" [class]="('list ' + a.class)">
        <div class="image-list" data-id="a.id" >
          <div class="text-content">
            {{ a.name }}
          </div>
          <div class="logo-close">
            <span>
                <ion-icon name="close"></ion-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
</div>