.section-channels {
	margin-left: 7px;
	.title-channels {
		width: 50%;
		.title {
			font-size: 30px;
		}
	}
	.check-channels {
		width: 50%;
		align-self: flex-end;
		margin: 0 0 10px 0;
		text-align: right;
		cursor: pointer;
		&:hover {
			color: #fff;
		}

		span {
			font-size: 15px;
			margin: 0%;
		}
	}
	.list-channels {
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		margin: 0%;
		padding: 15px 0;
		display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
		> .list {
			margin: 0%;
			width: 100%;
			cursor: pointer;
			&:hover {
				color: #fff;
				.image-list {
					.logo-close {
						span {
							color: #000000;
						}
					}
				}
			}
            &.active {
				.image-list {
					.logo-close {
						display: initial;
					}
				}
			}
            .image-list {
                width: 100%;
                height: 120px;
				background-color: #cccccc;
				background-clip: content-box;
				position: relative;

				.logo-close {
					width: 0;
					height: 0;
					border-top: 33px solid #fff;
					border-bottom: 30px solid transparent;
					border-left: 30px solid transparent;
					position:absolute;
					right: 0;
					top: 0;
					display: none;
					cursor: pointer;
					span {
						position: absolute;
						top: -29px;
						width: 100px;
						left: -58px;
						text-align: center;
						font-size: 10px;
						font-family: arial;
						-webkit-transform: rotate(45deg);
						transform: rotate(90deg);
						display:block;
					}
				}

				.text-content {
					position:absolute;
					bottom: 0;
					left: 0;
					padding: 10px;
				}
            }
		}
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
}