<div id="footer">
  <hr class="line-footer">
  <div class="row footer-social-media">
    <div class="s-icon">
      <ion-icon name="logo-twitter"></ion-icon>
    </div>
    <div class="s-icon">
      <ion-icon name="logo-linkedin"></ion-icon>
    </div>
    <div class="s-icon">
      <ion-icon name="logo-facebook"></ion-icon>
    </div>
  </div>
  <div class="row footer-link">
    <h5 class="url-link">About <span class="slash-footer">/</span></h5>
    <h5 class="url-link">For Business <span class="slash-footer">/</span></h5>
    <h5 class="url-link">Suggestions <span class="slash-footer">/</span></h5>
    <h5 class="url-link">Help & FAQs <span class="slash-footer">/</span></h5>
    <h5 class="url-link">Contacs <span class="slash-footer">/</span></h5>
    <h5 class="url-link">Pricing <span class="slash-footer">/</span></h5>
  </div>
  <div class="footer-copyright">
    <h5>&copy; Copyright 2013 <span>companyname inc.</span></h5>
  </div>
  <div class="row footer-link-small">
    <h5 class="url-link">Privacy <span class="slash-footer">/</span></h5>
    <h5 class="url-link">Terms <span class="slash-footer">/</span></h5>
  </div>
</div>
