<ion-row class="nav-main">
  <div id="logo">
    <h4>Social</h4>
    <span>Network</span>
  </div>
  <div id="navSearch">
    <ion-searchbar></ion-searchbar>
  </div>
  <div id="btnUpload">
    <ion-button>
      <ion-icon name="arrow-round-up"></ion-icon>
      Upload
    </ion-button>
  </div>
  <div id="navUser" class="row">
    <div class="logo-user">
      <ion-icon name="person"></ion-icon>
    </div>
    <div class="user-login">
      <p class="first-name">Waseem <span class="circle-notive">23</span></p>
      <p class="last-name">Arshad</p>
    </div>
  </div>
</ion-row>
