<section class="section-videos">
  <div class="row top-videos">
    <div class="title-videos">
        <h5 class="title">Videos</h5>
    </div>
    <div class="browse-videos">
        <span>Browse all videos</span>
    </div>
  </div>
  <div class="row">
    <div class="left">
      <div class="big-videos">
        <div class="text-content">
          <h5>How to improve your skills</h5>
          <div class="row">
            <p class="guest">Waseem Arshad</p>
            <p class="views">109090 views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="small-videos">
        <div class="text-content">
          <h5>How to improve your skills</h5>
          <div class="row">
            <p class="guest">Waseem Arshad</p>
            <p class="views">109090 views</p>
          </div>
        </div>
      </div>
      <div class="small-videos">
        <div class="text-content">
          <h5>How to improve your skills</h5>
          <div class="row">
            <p class="guest">Waseem Arshad</p>
            <p class="views">109090 views</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom row">
    <div class="small-videos">
      <div class="text-content">
        <h5>How to improve your skills</h5>
        <div class="row">
          <p class="guest">Waseem Arshad</p>
          <p class="views">109090 views</p>
        </div>
      </div>
    </div>
    <div class="small-videos">
      <div class="text-content">
        <h5>How to improve your skills</h5>
        <div class="row">
          <p class="guest">Waseem Arshad</p>
          <p class="views">109090 views</p>
        </div>
      </div>
    </div>
    <div class="small-videos add-videos">
      <div class="text-content">
        <h5>How to improve your skills</h5>
        <div class="row">
          <p class="guest">Waseem Arshad</p>
          <p class="views">109090 views</p>
        </div>
      </div>
    </div>
  </div>
</section>
