<section class="section-videos">
  <h5 class="title">Videos</h5>
  <div class="row">
    <div class="left">
      <div class="big-video">
        <div class="text-content">
          <h5>How to improve your skills</h5>
          <div class="row">
            <p class="guest">Waseem Arshad</p>
            <p class="views">109090 views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="small-video">
        <div class="text-content">
          <h5>How to improve your skills</h5>
          <div class="row">
            <p class="guest">Waseem Arshad</p>
            <p class="views">109090 views</p>
          </div>
        </div>
      </div>
      <div class="small-video">
        <div class="text-content">
          <h5>How to improve your skills</h5>
          <div class="row">
            <p class="guest">Waseem Arshad</p>
            <p class="views">109090 views</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom row">
    <div class="small-video">
      <div class="text-content">
        <h5>How to improve your skills</h5>
        <div class="row">
          <p class="guest">Waseem Arshad</p>
          <p class="views">109090 views</p>
        </div>
      </div>
    </div>
    <div class="small-video">
      <div class="text-content">
        <h5>How to improve your skills</h5>
        <div class="row">
          <p class="guest">Waseem Arshad</p>
          <p class="views">109090 views</p>
        </div>
      </div>
    </div>
    <div class="small-video add-video">
      <div class="text-content">
        <h5>How to improve your skills</h5>
        <div class="row">
          <p class="guest">Waseem Arshad</p>
          <p class="views">109090 views</p>
        </div>
      </div>
    </div>
  </div>
</section>
