<section class="section-people">
    <div class="row top-people">
      <div class="title-people">
          <h5 class="title">People</h5>
      </div>
      <div class="browse-people">
          <span>View all</span>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <div class="big-people">
          <div class="text-content">
            <h5>How to improve your skills</h5>
            <div class="row">
              <p class="guest">Waseem Arshad</p>
              <p class="views">109090 views</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="small-people">
          <div class="text-content">
            <h5>How to improve your skills</h5>
          </div>
        </div>
        <div class="small-people">
          <div class="text-content">
            <h5>How to improve your skills</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom row">
      <div class="small-people">
        <div class="text-content">
          <h5>How to improve your skills</h5>
        </div>
      </div>
      <div class="small-people">
        <div class="text-content">
          <h5>How to improve your skills</h5>
        </div>
      </div>
      <div class="small-people add-people">
        <div class="row add-content">
          <div class="icon-add">
            <ion-icon name="checkmark"></ion-icon>
          </div>
          <div class="text-add">
            <p>Show</p>
            <p>Your Work</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  