<section class="section-documents">
    <div class="row top-documents">
      <div class="title-documents">
          <h5 class="title">Documents</h5>
      </div>
      <div class="browse-documents">
          <span>Browse all documents</span>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <div class="big-documents">
          <div class="text-content">
            <h5>How to improve your skills</h5>
            <div class="row">
              <p class="guest">Waseem Arshad</p>
              <p class="views">109090 views</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="small-documents">
          <div class="text-content">
            <h5>How to improve your skills</h5>
            <div class="row">
              <p class="guest">Waseem Arshad</p>
              <p class="views">109090 views</p>
            </div>
          </div>
        </div>
        <div class="small-documents">
          <div class="text-content">
            <h5>How to improve your skills</h5>
            <div class="row">
              <p class="guest">Waseem Arshad</p>
              <p class="views">109090 views</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom row">
      <div class="small-documents">
        <div class="text-content">
          <h5>How to improve your skills</h5>
          <div class="row">
            <p class="guest">Waseem Arshad</p>
            <p class="views">109090 views</p>
          </div>
        </div>
      </div>
      <div class="small-documents">
        <div class="text-content">
          <h5>How to improve your skills</h5>
          <div class="row">
            <p class="guest">Waseem Arshad</p>
            <p class="views">109090 views</p>
          </div>
        </div>
      </div>
      <div class="small-documents add-documents">
        <div class="row add-content">
          <div class="icon-add">
            <ion-icon name="add"></ion-icon>
          </div>
          <div class="text-add">
            <p>Share</p>
            <p>Your Document</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  