<div class="content-page">

  <app-navbar></app-navbar>

  <app-sub-navbar></app-sub-navbar>
  
  <div class="section-page">
    <div class="left">
      <app-section-videos></app-section-videos>
    </div>
    <div class="right">
      <app-section-activity></app-section-activity>
    </div>
  </div>

  <div class="section-page">
    <div class="left">
      <app-section-people></app-section-people>
      <app-section-documents></app-section-documents>
    </div>
    <div class="right">
      <h3>Ini untuk section channels</h3>
    </div>
  </div>

</div>
